@font-face {
    font-family: Segan-Light;
    src: url('fonts/Segan-Light.ttf');
}

@font-face {
    font-family: Lucida-Console;
    src: url('fonts/Lucida-Console.ttf');
}

.text {
    -fx-font-family: Segan-Light;
    -fx-font-size: 18px;
}

.text-area {
    -fx-font-family: Lucida-Console;
    -fx-font-size: 14px;
}

.tab .tab-label {
    -fx-font-family: Segan-Light;
    -fx-font-size: 12px;
    -fx-text-fill: grey;
}

.tab:selected .tab-label {
    -fx-font-size: 15px;
    -fx-text-fill: black;
}